In [2]:
from sklearn.datasets import fetch_california_housing
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=fetch_california_housing()

In [4]:
type(df)

sklearn.utils._bunch.Bunch

In [4]:
df

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33:291-297, 1997.\n'}

In [5]:
data=pd.DataFrame(df.data)
data.columns

RangeIndex(start=0, stop=8, step=1)

In [6]:
df.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [ ]:
data.columns=df.feature_names
# data['Price'] = np.random.randint(50000, 500000, size=len(data))
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,94088
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,323171
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,439211
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,475951
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,489284

In [ ]:
data.describe

In [ ]:
data.info

In [13]:
data.drop('Price',axis=1,inplace=True)
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [14]:
data['Price']=df.target
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [15]:
## dividing the data set into independeb=nt and dependent features
X=data.iloc[:,:-1] ## skipping last feature
y=data.iloc[:,-1] # dependent features

In [16]:
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [17]:
y.head()

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

In [28]:
##Linear Regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=18)

linear_reg=LinearRegression()

linear_reg.fit(X_train,y_train)

from sklearn.metrics import mean_squared_error, r2_score

# Predictions
y_pred_train = linear_reg.predict(X_train)
y_pred_test = linear_reg.predict(X_test)

# Metrics
print("Training Mean Squared Error =", mean_squared_error(y_train, y_pred_train))
print("Test Mean Squared Error =", mean_squared_error(y_test, y_pred_test))

print("Training R2 Score =", r2_score(y_train, y_pred_train))
print("Test R2 Score =", r2_score(y_test, y_pred_test))

Training Mean Squared Error = 3439622.641509431
Test Mean Squared Error = 5921546.81381275
Training R2 Score = 0.9778944560314304
Test R2 Score = -1.631798583916778

In [33]:
## predict salary based on experience

#step1 import libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model  import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

#step2 : load or create a sample data

data={
    
    'Experience':[1,2,3,4,5,6],
    'Salary':[30000,40000,50000,60000,70000,80000]
}

#step3 : convert data into data frame

df=pd.DataFrame(data)

# here target var is salary so we have to preict the salary

#step4:  split the the data based in dependent and independent features
X = df[['Experience']]
y = df['Salary']

#step5: Train test split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=17)

#step6: initialize the model
model=LinearRegression()
model.fit(X_train,y_train)

#step7 : do prediction
y_pred=model.predict(X_test)


# Step 8: Evaluate
print("Predicted values:", y_pred)
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

Predicted values: [50000. 60000.]
Mean Squared Error: 0.0
R² Score: 1.0