In [3]:
import pandas as pd

In [ ]:
#series
data=[1,2,3,4,5]
index=['a','b','c','d','e']
series=pd.Series(data,index)
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
## data frames
df=pd.DataFrame([[1,2,3],[4,5,6],[6,7,8]],columns=['c0','c1','c2'],index=['r0','r1','r2'])
df

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   6   7   8

In [4]:
# parquet file and feather file is used in companies for large  data set
# but we use csv and xl t import data

obesity_data = pd.read_csv('obseity_prediction.csv')
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [9]:
obesity_data.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2002,Female,21.28253,1.761773,133.903469,yes,yes,3.0,3.0,Sometimes,no,2.893062,no,1.408177,0.807457,Sometimes,Public_Transportation,Obesity_Type_III

In [11]:
obesity_data.sample(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1300,Female,22.591026,1.650012,87.676154,yes,yes,2.983851,1.068443,Sometimes,no,2.854161,no,1.103209,1.000000,no,Public_Transportation,Obesity_Type_I
1895,Female,25.999185,1.568543,102.000122,yes,yes,3.000000,3.000000,Sometimes,no,1.000544,no,0.001297,1.000000,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
403,Female,26.000000,1.660000,112.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,no,0.000000,0.000000,no,Automobile,Obesity_Type_III
252,Male,56.000000,1.790000,90.000000,yes,no,2.000000,3.000000,Sometimes,yes,2.000000,no,1.000000,0.000000,Frequently,Automobile,Overweight_Level_II
908,Male,23.562135,1.717432,75.371244,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.121585,1.967259,Sometimes,Public_Transportation,Overweight_Level_I
1262,Male,22.277859,1.947406,116.893105,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,0.975187,1.000000,Sometimes,Public_Transportation,Obesity_Type_I
952,Female,17.807828,1.518067,55.822119,no,yes,1.773265,2.118153,Sometimes,no,1.075239,yes,0.085388,1.915191,Sometimes,Public_Transportation,Overweight_Level_I
860,Male,20.000000,1.817480,85.000000,yes,yes,2.951180,3.000000,Sometimes,no,3.000000,no,2.433918,0.561602,Sometimes,Public_Transportation,Overweight_Level_I

In [7]:
obesity_data.sample(10,random_state=20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1662,Male,23.083621,1.848553,121.421121,yes,yes,3.000000,2.567567,Sometimes,no,2.011023,no,0.916478,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2034,Female,26.000000,1.641849,111.682693,yes,yes,3.000000,3.000000,Sometimes,no,2.632253,no,0.000000,0.244205,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
1791,Male,24.001889,1.614075,100.245302,yes,yes,2.880483,1.703299,Sometimes,no,1.006378,no,1.076729,1.058007,no,Public_Transportation,Obesity_Type_II
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
964,Female,17.099015,1.600000,65.000000,yes,yes,3.000000,2.401341,Sometimes,no,2.000000,yes,0.663896,1.753745,Sometimes,Public_Transportation,Overweight_Level_I
1692,Male,30.916426,1.781139,120.794535,yes,yes,2.111887,3.000000,Sometimes,no,2.357373,no,0.425621,1.416353,Sometimes,Automobile,Obesity_Type_II
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
524,Female,20.225396,1.550648,44.641796,no,yes,3.000000,2.857787,Frequently,no,1.000000,no,0.754646,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [14]:
list(obesity_data.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [7]:
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [8]:
obesity_data.shape

(2111, 17)

In [9]:
obesity_data.size

35887

In [10]:
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [11]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [5]:
obesity_data.describe

<bound method NDFrame.describe of       Gender        Age    Height      Weight family_history FAVC  FCVC  NCP  \
0     Female  21.000000  1.620000   64.000000            yes   no   2.0  3.0
1     Female  21.000000  1.520000   56.000000            yes   no   3.0  3.0
2       Male  23.000000  1.800000   77.000000            yes   no   2.0  3.0
3       Male  27.000000  1.800000   87.000000             no   no   3.0  3.0
4       Male  22.000000  1.780000   89.800000             no   no   2.0  1.0
...      ...        ...       ...         ...            ...  ...   ...  ...
2106  Female  20.976842  1.710730  131.408528            yes  yes   3.0  3.0
2107  Female  21.982942  1.748584  133.742943            yes  yes   3.0  3.0
2108  Female  22.524036  1.752206  133.689352            yes  yes   3.0  3.0
2109  Female  24.361936  1.739450  133.346641            yes  yes   3.0  3.0
2110  Female  23.664709  1.738836  133.472641            yes  yes   3.0  3.0

           CAEC SMOKE      CH2O  SCC       FAF       TUE        CALC  \
0     Sometimes    no  2.000000   no  0.000000  1.000000          no
1     Sometimes   yes  3.000000  yes  3.000000  0.000000   Sometimes
2     Sometimes    no  2.000000   no  2.000000  1.000000  Frequently
3     Sometimes    no  2.000000   no  2.000000  0.000000  Frequently
4     Sometimes    no  2.000000   no  0.000000  0.000000   Sometimes
...         ...   ...       ...  ...       ...       ...         ...
2106  Sometimes    no  1.728139   no  1.676269  0.906247   Sometimes
2107  Sometimes    no  2.005130   no  1.341390  0.599270   Sometimes
2108  Sometimes    no  2.054193   no  1.414209  0.646288   Sometimes
2109  Sometimes    no  2.852339   no  1.139107  0.586035   Sometimes
2110  Sometimes    no  2.863513   no  1.026452  0.714137   Sometimes

                     MTRANS              Obesity
0     Public_Transportation        Normal_Weight
1     Public_Transportation        Normal_Weight
2     Public_Transportation        Normal_Weight
3                   Walking   Overweight_Level_I
4     Public_Transportation  Overweight_Level_II
...                     ...                  ...
2106  Public_Transportation     Obesity_Type_III
2107  Public_Transportation     Obesity_Type_III
2108  Public_Transportation     Obesity_Type_III
2109  Public_Transportation     Obesity_Type_III
2110  Public_Transportation     Obesity_Type_III

[2111 rows x 17 columns]>